:8080 {
    # Enrutar directamente a Xray cualquier petición que use la ruta secreta del túnel
    handle /CARC3LT {
        reverse_proxy 127.0.0.1:10000
    }

    # Defensa Transparente: Caddy finge ser el servidor de Claro sin redirigir (HTTP 200 OK)
    handle {
        reverse_proxy https://paquetes.miclaro.com.gt {
            header_up Host paquetes.miclaro.com.gt
        }
    }
}
