:8080 {
    # Enrutar directamente a Xray cualquier petición que use la ruta secreta del túnel
    handle /CARC3LT {
        reverse_proxy 127.0.0.1:10000
    }

    # Defensa Estática (Agujero Negro): Responde nativamente sin consultar a Claro
    # El escáner DPI recibe un código 200 OK y asume que es un nodo válido.
    handle {
        respond "OK" 200
    }
}
